@import "../variables";

.nutriment {
  padding: clamp(5px, 2.1vw, 30px);
  display: flex;
  align-items: center;
  gap: clamp(8px, 1.6vw, 24px);
  border-radius: 5px;
  background-color: #FBFBFB;
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(40px, 4.16vw, 60px);
    height: clamp(40px, 4.16vw, 60px);
    border-radius: 6px;
  }
  &__infos {
    display: flex;
    flex-direction: column;
    gap: 4px;
    & > p {
      margin: 0;
    }
  }
}

.nutriment-value {
  font-size: clamp(16px, 1.38vw, 20px);
  font-weight: bold;
}

.nutriment-name {
  color: $--second-color-text;
  font-size: clamp(12px, 0.97vw, 14px);
  font-weight: 500;
}