.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px);
  width: 120px;
  background-color: #020203;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
  }
  & p {
    font-size: clamp(10px, 0.83vw, 12px);
    position: absolute;
    bottom: 60px;
    writing-mode: vertical-lr;
  }
}
